*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #1F2937;
	height: 600px;
}

.header .logo-links {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	padding-right: 196px;
	display: flex;
	justify-content: space-between;
}

.header .logo-links .logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: bold;
	width: 100px;
    height: 100px;
}

.header .logo-links .links a {
	color: #E5E7EB;
	text-decoration: none;
	padding: 10px;
}

.header .header-content {
	display: flex;
	width: 80%;
	margin: 30px auto;
	padding: 20px;
    justify-content: space-between;
}

.header .hcleft {
	width: 30%;
	margin-top: 50px;
}

.header .hctitle { /* .header .hcleft .hctitle */
	color: #F9FAF8;
	font-size: 48px;
	font-weight: 800;
}

.header .hcp { /* .header .hcleft .hcp*/
	margin-top: 20px;
	margin-bottom: 20px;
	color: #E5E7EB;
	font-size: 18px;
	width: 397px;
}

.header .hcbtn { /*.header .hcleft .hcbtn*/
	padding: 8px 30px;
	background-color: #3882F6;
	border: none;
	color: #E5E7EB;
	font-weight: bold;
	border-radius: 5px;
}

.header-content img {
	margin-right: 168px;
	width: 500px;
	height: 271px;
	align-self: end;
}

.content-one {
	background-color: #F9FAF8;
}

.content-one .info-one {
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
	margin-left: 30%;
	margin-top: 51px;
	margin-bottom: 41px;
}

.content-one .boxes {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
	width: 80%;
	margin: 0 auto;
}

.content-one .boxes .box {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center
}

.box img{
	width: 250px;
	height: 250px;
}

.content-two {
	background-color: #E5E7EB;
	height: 350px;
}

.content-two .qoute {
	margin: 0 auto;
	width: 80%;
	margin-top: 100px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.content-two .qoute p {
	font-size: 36px;
	font-style: italic;
	color: #1F2937;
	width: 50%;
	margin-top: 100px;
	margin-bottom: 10px;
}

.content-two .qoute h3 {
	font-size: 26px;
	font-weight: 800;
	color: #1F2937;
}

.content-three {
	width: 60%;
	height: 150px;
	margin: 50px auto;
	background-color: #3882F6;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.content-three .call {
	margin-top: 10%;
	margin-top: 100px;
    margin-bottom: 100px;
    height: 100px;
    width: 80%;
}

.content-three .call p {
	color: #E5E7EB;
	font-size: 18px;
	margin-left: 100px;
}

.content-three .call h3{
	color: #E5E7EB;
	font-size: 18px;
	margin-left: 100px;
}

.content-three .callbtn {
	padding: 10px 9px;
	margin-right: 100px;
	background-color: #3882F6;
	color: #E5E7EB;
	border-color: #E5E7EB;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
}

.copy{
	background-color: #1F2937;
	color: #F9FAF8;
	font-size: 24px;
	height: 100px;
	padding: 38px;
    padding-left: 40%;
}